@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais que estavam no HTML */
body {
    margin: 0;
    overflow: hidden;
    height: 100dvh;
    touch-action: manipulation;
    font-family: 'Outfit', sans-serif;
}

.pixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.cm-editor {
    height: 100%;
    font-family: 'Fira Code', monospace !important;
}

/* Mobile fixes */
@media (max-width: 768px) {
  .cm-tooltip-autocomplete {
    max-width: 90vw !important;
    max-height: 200px !important;
  }
}